---
import { DocsBlock } from '../docs.js'
import Heading from './Heading.astro'

interface Props {
    block: DocsBlock
    sep?: string
}

const { block, sep } = Astro.props

const html = Astro.slots.has('default') ? '-' : await block.render(true)
---

{
    (block?.heading || Astro.slots.has('heading')) && (
        <>
            <slot name="heading">{block?.heading && <Heading {...block.heading} inline />}</slot>
            {html && (sep ? <span>{sep}</span> : ' ')}
        </>
    )
}
<slot>
    {html && <Fragment set:html={html} />}
</slot>

<style>
    span {
        color: var(--sub);
        font-weight: 700;
        padding-inline: 0.4rem;
    }
</style>
