---
import { DocsBlock } from '../docs.js'
import Heading from './Heading.astro'

interface Props {
    block: DocsBlock
}

const { block } = Astro.props

const html = await block.render()
---

<section>
    {block?.heading && <Heading {...block.heading} />}
    <Fragment set:html={html} />
</section>
