---
import { DocsBlock } from '../docs'
import DocsBlockInline from './DocsBlockInline.astro'
import DocsBlockSection from './DocsBlockSection.astro'

interface Props {
    head?: DocsBlock
    members: readonly DocsBlock[]
}
const { head, members } = Astro.props
---

<DocsBlockSection block={head ?? new DocsBlock([])}>
    <ul>
        {
            members.map((block) => (
                <li>
                    <DocsBlockInline {block} sep="–" />
                </li>
            ))
        }
    </ul>
</DocsBlockSection>
