---
import { DocsBlock, DocsHeading } from '../docs'
import DocsBlockInline from './DocsBlockInline.astro'
import Heading from './Heading.astro'

interface Props {
    heading?: DocsHeading
    members: readonly DocsBlock[]
}
const { heading, members } = Astro.props
---

<section>
    {heading && <Heading {...heading} />}
    <ul>
        {
            members.map((block) => (
                <li>
                    <DocsBlockInline {block} sep="–" />
                </li>
            ))
        }
    </ul>
</section>
