---
import { DocsBlock } from '../docs.js'
import Heading from './Heading.astro'

interface Props {
    block: DocsBlock
}

const { block } = Astro.props

const html = Astro.slots.has('default') ? '' : await block.render()
---

<section>
    <slot name="heading">{block?.heading && <Heading {...block.heading} />}</slot>
    <slot>
        {html && <Fragment set:html={html} />}
    </slot>
</section>
