---
import { ThemeSwitch } from '@lameuler/ler-astro'
import SiteName from './SiteName.astro'
import SearchPopup from './search/SearchPopup.svelte'
---

<script>
    document.getElementById('toggle-search')?.addEventListener('click', () => {
        // document.body.dataset.searchOpen = ''
        document.querySelector('dialog')?.showModal()
        setTimeout(() => {
            document.querySelector<HTMLInputElement>('form > input[placeholder=Search]')?.focus({
                preventScroll: true,
            })
        }, 200)
    })
</script>

<header>
    <SiteName />
    <div>
        <SearchPopup client:load />
        <a href="https://github.com/lameuler/astro-notebook">
            <svg class="icon" viewBox="0 0 24 24">
                <path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
            </svg>
        </a>
        <ThemeSwitch />
    </div>
</header>

<style>
    header {
        position: fixed;
        left: 0;
        right: 0;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem calc(var(--gutter) + 0.5rem);
        z-index: 20;
        backdrop-filter: blur(0.5rem);

        background-color: #f8fafccc;
        border-bottom: 1px solid #cbd5e1;
        box-shadow: 0 0 0.7rem #0002;
    }
    :global(.dark) header {
        background-color: #0b1324cc;
        border-bottom: 1px solid #000;
        box-shadow: 0 0 0.7rem #0004;
    }
    div {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: #1e293b;
    }
    :global(.dark) div {
        color: #cbd5e1;
    }
    a {
        padding: 0.25rem;
        opacity: 0.6;
    }
    a:hover {
        opacity: 0.8;
    }
    a:active {
        opacity: 0.9;
    }
    svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }
</style>
